/* Header */

header{
    background: #0A1828;
    height: 40px;
    margin-bottom: 2%;
    align-items: center;
    text-align: center;
    
}

.navMain{
    z-index: 999;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0A1828;
}

.navbar-brand{
    font-size: 300%;
    font-family: 'Serif', 'Times New Roman';
    font-weight: bold;
    color: #ffffff;
    border-top: 1px solid #ffffff; /* add this line */
}

.nav-item{
    background-color: #0A1828;
    color: #178582;
    font-size: 150%;
    margin: 10%;
    transition: background-color 2s ease-out 100ms
}

.nav-item:hover{
    color: white;
    text-decoration: unset;
    cursor:pointer;
}

.navbar-brand-centered{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navRight{
    float: right;
}

.navLeft{
    float: left;
}

@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
}


/* Body */


body{
    color: #b98f63;
    background-color: #0A1828;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.purple-bg {
    background-color: #d690ed;
    color: rgb(68, 0, 64);
}

li{
    margin: 1%;
}
.aboutMe{
    height: 70%;
    border-radius: 10%;
    background-color: #0A1828;
    color: #ffffff;
    font-size: 1300%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.recommendedSlide{
    height: 20%;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 1300%;
}


.profileTitle{
    font-family: serif;
    font-weight: bold;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    align-self: center;
    justify-self: center;
    font-size: 250%;
}
.pic1{
    width: fit-content;
    height: fit-content;
    border-radius: 10%;
}
.margind1{
    font-family: serif;
    font-weight: bold;
    /* margin-left: 15%; */
    margin-top: 2%;
    margin-bottom: 2%;
    align-items: center;
}
.nav-item:hover{
    color: white;
    text-decoration: unset;
}

.resume-container{
    display: flex;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; /* Set the desired height of the panel */
    position: relative;
}

.resume-panel{
    display: flex;
    width: calc(100% - 60px); /* Adjust based on button width and spacing */
    transition: transform 0.3s ease; /* Adding transition for smooth scrolling effect */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create a grid with 3 columns */
    gap: 20px; /* Add a gap of 20px between grid items */
  }



.upper-half {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    animation: fadeIn 2s ease-in-out;
    margin-top: 5%;
  }

  .bottom-half {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    animation: fadeIn 2s ease-in-out;
    margin-bottom: 5%;
  }

  .resume-button {
    padding: 20px 40px;
    background-color: #b98f63;
    border-color: #b98f63;
    font-size: 24px;
    color: white;
    background-color: transparent;

    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .resume-Update-Text{
    font-family: serif;
    align-items: center;
    font-size: 16px;
    color: #b98f63
  }

/* 
  .resumeB1{
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    font-size: 100%;
    background-color: transparent;
    border-radius: 10%;
    border-color: #b98f63;
    align-self: center;
    justify-self: center;
    color:#b98f63;
    max-height: 70%;
    size: 100%;
    height: max-content;
} */

  .resume-button:hover {
    background-color: #caaa82;
    transform: scale(1.05);
    color: black;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


/* ---------------------TIMELINE CODE---------------------- */

.WEtitle{
  font-family: serif;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
  align-self: center;
  justify-self: center;
  font-size: 250%;
  text-align: center;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #caaa82;
  margin-left: -1px;
}

.dot {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1200%);
  width: 12px;
  height: 12px;
  background-color: #caaa82;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item {
  position: relative;
  max-width: 400px;
  margin: 5%;
  padding: 3%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 5%;
}

.timeline-item:nth-child(even) {
  margin-left: 55%;
  margin-right: 0;
}

.timeline-item:nth-child(odd){
  margin-left: -55%;
  margin-right: 0;
}

.timeline-content {
  margin: 0;
  flex: 1;
}

.timeline-content img{
  max-width: auto;
  height: auto;
  border-radius: 8px;
}



/* ------------Contact Me--------------- */
/* .about-me-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border-width: 100px;
  border-color: #caaa82;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */


/* Publication */
/* .triangle-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent; 
  border-bottom: 100vh solid gold; 
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) rotate(90deg);
  transform-origin: 0 0; 
}

.content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #ffffff;
}

.content img {
  width: 100px;
  border-radius: 50%;
} */

.outerPublications-wrapper{
  margin: 5% auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.publications-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  padding: 3%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.publication-image {
  width: 50%;
  height: 50%;
  border: 3px solid #0A1828 ;
  border-radius: 4%;
}

.publication-content {
  padding: 20px;
  text-align: center;
}

.reference {
  font-style: italic;
}

.publication-download {
  width: 100%;
  padding: 1.5% 3%;
  background-color: #0A1828;
  border-radius: 6%;
  border-color: #b98f63;
  font-size: 110%;
  color: #b98f63;
  background-color: solid;

  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.publication-download:hover {
  background-color: #caaa82;
  transform: scale(1.05);
  color: #0A1828;
}

.p444{
  color:#0A1828;
}

/* ------------------------------Profiles-------------------------------------- */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  max-width: 800px;
  margin: 20px auto;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border: 3px solid #b98f63;
  border-radius: 2px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.grid-item:hover {
  background-color: #ddd;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b98f63;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.grid-item:hover .overlay {
  opacity: 1;
}

.overlay a {
  color: #0A1828;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}